<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sales/experience-catalog
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /sales/experience-catalog/index.html [L]
 </IfModule>